@font-face {
  font-family: 'TT Norms';
  src: url(TTNorms-Regular.otf);
}
#sidebar-wrapper{
    z-index:1;
    position: absolute;
    width:0;
    right: 0;
    top: 10%;
    height:80%;
    overflow-y:hidden;
    background: linear-gradient(180deg, #37374B 0%, #27273A 100%);
    border-radius: 5px;
    
      transition:all .5s;
      /* display:flex;
      align-items:center; */
  }
 
  /* Main Content */
  #page-content-wrapper{
    width: 100%;	
    position: absolute;
   
      transition:all .5s;
  }
  
  #menu-toggle{
      transition:all .3s;
      
  }
  /* Change the width of the sidebar to display it*/
  #wrapper.menuDisplayed #sidebar-wrapper{
    width:350px;
  }

  
  
  /* #wrapper.menuDisplayed #page-content-wrapper{
    padding-right:350px;
  } */
  /* #wrapper.menuDisplayed #button{
    padding-left:100px;
   
    width: 200%;
  } */
  /* @media screen and (max-height: 850px) {
    #wrapper.menuDisplayed #button{
      
     
      width: 200%;
     
    }
  } */
  
  @media only screen and (min-width: 850px) {
    #wrapper.menuDisplayed #page-content-wrapper{
      padding-right:350px;
    }
    #wrapper.menuDisplayed .modal.fixed-right .modal-dialog-aside{ margin-left:50%; margin-top:7%; transform: translateX(-100%);
    }
    #wrapper.menuDisplayed .modal.show .modal-dialog-aside{ transform: translateX(0);  }
    #wrapper.menuDisplayed #button{
      padding-left:100px;
     
      width: 200%;
    }

  }

  /* @media only screen and (max-width: 650px) {
    #page-content-wrapper{
      display: none;
    }

  } */
  
  